# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*~

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos específicos do projeto
backend/__pycache__/
frontend/node_modules/
